.recipe-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.outline {
    outline: 2px solid #4A90E2;
}

body {
    color : #292522;
    background-color: #F7F1E8;
    
}

a {
    color: #A3472F;
    font-weight: bold;
    background-color: #E8D8C3;
    display: inline-block;
    padding: 30px;
    margin-bottom: 10px;
}

h1 {
    text-align: center;
    color: #FAF7F0;
    background-color: #A3472F;
    font-weight: bold;
    padding: 10px;
    border: 4.5px solid #4A90E2; 
}

h2 {
    color: #6F7652;
    font-weight: bold;
}
img {
    display: block;
    margin: 0 auto;
    width: 600px;
    height: 400px;
    outline: 3px solid  #6F7652;
}
span {
    color: #6F7652;
    font-weight: bold;
    background-color: #C5CDB5;
}