body {
    color : #292522;
    background-color: #F7F1E8;
    
}

a {
    color: #A3472F;
    font-weight: bold;
     background-color: #E8D8C3;
     padding: 10px;
}

h1 {
    text-align: center;
    color: #FAF7F0;
    background-color: #A3472F;
    font-weight: bold;
     padding: 10px;
}

h2 {
    color: #6F7652;
    font-weight: bold;
}
img {
    display: block;
    margin: 0 auto;
    width: 700px;
    height: 400px;
}